.feedbackBox {
    width: 500px;
    height: 800px;
    border: solid 2px black;
    margin: auto;
    right: 0;
    left: 0;
    text-align: left;
}
.feedback {
    border-bottom: black 2px solid;
}

p {
    padding-left: 10px;
}

