:root{
    --avatar-size: 36px; 
    --font-large: 18px;
    --font-medium: 14px;
    --padding:20px;
    --small-padding : 2px;
    --grey-dark-color: #909090;
    --grey-light-color:#e0e0e0;
    /* --white-color:#ebf8fc; */
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box; /* border 포함 */
}
.entrance {
    width: '300px';
    height: '300px';
    border: '2px solid black'
}

.roomList {
    display: flex;
    /* flex-wrap : wrap; */
    padding : 0;
    /* margin : 0 auto; */
    justify-content: space-between;
    margin-top : var(--padding)
    /* flex-flow: 'row wrap' */
}

.roomMetadata{
    /* display: flex row; */
    /* padding: var(--padding);     */
    /* margin : var(--padding) ; */
    background-color: var(--white-color);
    /* margin-right: var(--small-padding); */
    /* margin-top: var(--small-padding); */
    /* margin-bottom: var(--small-padding); */
    max-width : 200px;   
}

.roomMetadata .roomImage img{
    flex: 1 1 35%; /* 줄어들때, 늘어날때, default*/
    /* margin-right: var(--padding); */
    /* padding : 0 0; */
    /* margin : 0; */
}

.roomMetadata .roomInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.roomMetadata .roomTitle{
    font-size: var(--font-large);
    margin: var(--small-padding) 0;
    text-align: left;
    font-weight: bold;

    color : var(--grey-dark-color);

    /* margin-right: var(--padding);  */
}

.roomMetadata .buttonandImage{
    display : flex;
}
.roomMetadata .roomInfo .buttonandImage img{
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    /* margin-left: 80px; */
    flex-basis: 13%;
    /* width : 100%; */
    /* height: 100%/ */
    /* flex : 1 1 35% */
}

.roomMetadata .buttonandImage .name{
    font-size : var(--font-medium);
    color : var(--grey-dark-color);
    font-weight: bold;
    margin-left: 6px;

    /* padding : 0 */
}




