.App {
  text-align: center;
  font-family: 'NanumSquareRound',sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

.side {
  position: relative;
  display: grid;
  grid-template-rows: 32px repeat(5, 1fr);
  right: 0;
  top: 0;
  bottom: 0;
}
.voice {
  border: black solid 2px;
  grid-row: 1/2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.peers {
  grid-row: 2/3;
}