/** cursor **/

.cursor {
  border: 1px solid #fefefe;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}

.cursor--hidden {
  opacity: 0;
}


/** Color Picker **/

.box {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.box:hover,
.box.active {
  box-shadow: inset 0px 0px 2px 2px #fff;
  opacity: 0.75;
}

.dropdown {
  position: absolute;
  background-color: #fff;
  padding: 6px;
  box-shadow: var(--dropdown-shadow);
  border-radius: 4px;
  z-index: 40;
  margin-left: -80px;
  margin-bottom: 30px;
  transition: all 0.25s ease-in-out;
}

.pallete-icon + .dropdown {
  opacity: 0;
  top: -180px;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}

.pallete-icon:hover + .dropdown,
.dropdown:hover {
  opacity: 1;
  top: -190px;
  visibility: visible;
}

.pallete-icon:hover + .dropdown *,
.dropdown:hover * {
  opacity: 1;
}