@tailwind base;


*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.font-apply {
  font-family: 'NanumSquareRound',sans-serif;
}

.h-mainBox {
  height: 84vh;
}

.transparent{
  display: hidden;
}

/* https://cdn.pixabay.com/photo/2017/04/03/14/02/acrylic-paint-2198458_1280.jpg */
.bg-image {
  background-image: url(https://cdn.pixabay.com/photo/2017/04/03/14/02/acrylic-paint-2198458_1280.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.btn-image-google {
  background-image: url(./images/google-fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.btn-image-facebook {
  background-image: url(./images/facebook-circle-fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.btn-image-naver {
  background-image: url(./images/naver-circle-fill.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.backdrop {
  backdrop-filter: blur(2px);
}
/* 
.img-room-host{
  background-image: url('./image/naver-circle-fill.svg')
} */

@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
