# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\livedrawing_gitclone_folder\Live-Drawing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
